@import "./common/var.scss";
@import "./common/variable.scss";
@import "./common/mixin.scss";
.x-tag {
    display: inline-block;
    padding: 1px 8px;
    font-size: 0;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    border: 1px solid $color-gray;
    border-radius: 4px;
    outline: 0;
    color: $color-3;
    background-color: $color-gray-hyaline;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    .x-tag-desc {
        font-size: 12px;
        margin-right: 2px;
    }
    &.x-tag-default {
        color: $color-3;
        border-color: $color-gray;
        background-color: $color-gray-hyaline;
    }
    &.x-tag-info {
        border-color: $color-border;
    }
    &.x-tag-success {
        background-color: $color-success2-hyaline;
        border-color: $color-success2;
        color: $color-success;
    }
    &.x-tag-primary {
        background-color: $color-primary2-hyaline;
        border-color: $color-primary;
        color: $color-primary;
    }
    &.x-tag-warning {
        background-color: $color-warning2-hyaline;
        border-color: $color-warning1;
        color: $color-warning1;
    }
    &.x-tag-danger {
        background-color: $color-danger2-hyaline;
        border-color: $color-danger;
        color: $color-danger;
    }
    & .x-tag-close {
        font-size: 12px;
    }
    &.x-tag-success.is-hover:hover {
        background-color: $color-success;
        color: $color-white;
    }
    &.x-tag-primary.is-hover:hover {
        background-color: $color-primary-hyaline;
        color: $color-white;
    }
    &.x-tag-warning.is-hover:hover {
        background-color: $color-warning1;
        color: $color-white;
    }
    &.x-tag-danger.is-hover:hover {
        background-color: $color-danger;
        color: $color-white;
    }
}