@import "./common/var.scss";
@import "./common/mixin.scss";

@b w {
  @e button {
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    background: $color-white;
    @include borderBase(1px solid red);  
    color: $color-3;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    @include borderRadius(4px);
    padding: 10px 14px;
    @when disabled{
      cursor: not-allowed;
    }
  }
}
